@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --cambridge: #87B38D;
    --dpurple: #22031F;
    --thulianpink: #cc76A1;
    --puce: #DD9296;
    --orchid: #F2B7C6;

}

table{
display: flex;
justify-content: center;
}

.catName{
padding-right: 200px;
}


body{
    font-family: Montserrat, 'sans-serif';
    background-color: var(--puce);
}
a{
color: var(--dpurple);
}
tr:nth-child(odd){
background-color: white;
}
tr:nth-child(even){
background-color: var(--orchid);
}
table{

}
td, th{
padding:5px;
border: dotted 5px var(--thulianpink);
}

table>th{
color: var{--thulianpink}
}

tr:hover {
    background-color: var(--cambridge);
}