.product-card {
    cursor: pointer;
}
.product-card:hover {
    background-color: rgb(229, 233, 236);
}


#product-body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 150px;
}

#product-body img
{
    position: relative;
    top: -25px;
    width: 100%;
}

.product-card .product-footer
{
    display: flex;
    justify-content: end;
}

#product-header {
  color:rgb(61, 61, 61);
  font-weight: 700;
}
.product-card
{
    width: 200px;
}
.product-card a
{
    display: inline-block;
    text-decoration: none;
}