@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    background-color: black;
    color: #ffffff;


}

/* universal header css */
.banner {
    position: fixed;

    width: 30%;
}

.banner-nav-bar {
    padding-top: ;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin-top: 0;
    grid-area: header;
    display: none;
    /* ^new */


}
a{
    text-decoration: none;
}


#logo {
    justify-content: center;
    display: flex;
}

#nav-bar li {
    font-family: "Crimson Pro", 'serif';
    font-weight: bolder;
    font-size: larger;
    margin: 0;
    padding: 20px;
    display: inline-block;
    text-decoration: none;

}


#nav-bar :hover {
    color: rgb(229, 191, 77);
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* index only page */

.main-photo{
    width: 100%;
    height:auto;
    grid-area: photo ;
}



.left1{
    grid-area: left1;
}

.left2{
    grid-area: left2;
}
.text{
    grid-area: text;
}
.calendar{
    grid-area: calendar;
}
#google-photo{
    grid-area: google;
}

#body-center{
    display: grid;
    /* grid-template-rows: 80%; */
    border: pink;
    margin-top: auto;
    /* grid-template-areas:  
        'header header header header header header'
        'photo photo photo photo photo photo'
        'left1 space google google google space'
        'left2 text text text text text' ; */

    grid-template-areas:  
    'header header header header header header'
    'photo photo photo photo photo photo'
    'left1 . google google google .'
    'left2 text text text text text'
    'calendar calendar calendar calendar calendar calendar' ;
}


/* order now css */






/* menu page items */
.menubody {
    /* width:60%; */
    display: flexbox;
    /* flex-wrap: wrap; */
    justify-content: center;

}

#menus {
    max-width: 100%;
    height: auto;
    align-items: center;


}

#menu2 {
    /* align-self: flex-end; */
}




/* universal footer css */

.footer {
    background-color: rgb(227, 16, 16);
    height: 100px;
}

.footer-container {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    justify-content: space-evenly;
}

#footer-logo {
    display: flex;
    justify-content: center;
}

#socials-left image {
    max-width: 20px;
    max-height: 20px;
    align-self: center;


}

#contactus {
    list-style-type: none;
    align-self: flex-end;

}