
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    background-color: black;
    color: #ffffff;
    
    
}

/* universal header css */
.banner{
    position: fixed;

    width: 30%;
}

.banner-nav-bar{
    justify-content: center;

}


.banner-logo{
    display: flex;
    justify-content: center;
}
#logo{
    justify-content: center;
}


#nav-bar li{
    font-family: "Crimson Pro", 'serif';
    font-weight: bolder ;
    font-size: larger;
    margin: 0;
    padding: 20px;
    display: inline-block;
    border: red;
}


#nav-bar :hover{
    color: rgb(229, 191, 77);
    cursor: pointer;
    

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#google-photo{
    align-items:;

}

/* index only page */
#mainphoto{
    align-self: center;
    width: max-content;
}

/* order now css */






/* menu page items */
.menubody{
    /* width:60%; */
    display: flexbox;
    /* flex-wrap: wrap; */
    justify-content: center;
    
}
#menus{
    max-width: 100%;
    height:auto;
    align-items: center;
    

}

#menu2{
    /* align-self: flex-end; */
}




/* universal footer css */

.footer{
    background-color: rgb(227, 16, 16);
    height: 100px;
}

.footer-container{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    justify-content: space-evenly;
}
#footer-logo{
    display: flex;
    justify-content: center;
}

#socials-left image{ 
    max-width: 20px;
    max-height: 20px;
    align-self: center;
    

}
#contactus{
    list-style-type: none;
    align-self: flex-end;

}