@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: black;
    color: #ffffff;


}

/* universal header css */
.banner {
    position: fixed;

    width: 30%;
}

.banner-nav-bar {
    padding-top: 0 ;
    justify-content: center;
    position: fixed;
    width: 100%;
    margin-top: 0;
    grid-area: header;
    /* display: none; */
    /* ^new */
    grid-area: header;


}

a {
    text-decoration: none;
}


#logo {
    justify-content: center;
    display: flex;
}

#nav-bar li {
    font-family: "Crimson Pro", 'serif';
    font-weight: bolder;
    font-size: larger;
    margin: 0;
    padding: 20px;
    display: inline-block;
    text-decoration: none;

}


#nav-bar :hover {
    color: rgb(229, 191, 77);
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* index only page */

.main-photo {
    width: 100%;
    height: 579px;
    width: 1777px;
    grid-area: photo;

}


.left1 {
    grid-area: left1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left1 button {
    height: 40px;
    background-color: red;
    font-size: larger;
    padding-left: 20px;
    padding-right: 20px;

}

#blue {
    color: rgb(53, 53, 188);
    font-weight: bold;
    font-size: larger;
}

.left2 {
    grid-area: left2;
    border: 5pt;
    border-color: blue;
}

#gm {
    border: double 5pt;
    border-radius: 5px;
    border-color: #ffffff37;
}

main {
    grid-area: text;
    padding-left: 30px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    font-stretch: wider;
    font-family: "Roboto Condensed", sans-serif;
    font-size: large;
}

.calendar {
    grid-area: calendar;
}

#google-photo {
    grid-area: google;
    padding: 30px;
    padding-left: 350px;
}


#body-center {
    display: grid;
    margin-left: 50px;
    gap: 30px;
    grid-template-areas:
        'header header header header header header'
        'photo photo photo photo photo photo'
        'left1 google google google google google'
        'left2 text text text text space'
        'footer footer footer footer footer footer';
}

/* order now css */






/* menu page items */
.fawaiian{
    grid-area: 'pizza';
    display: flex;
    justify-content: center;
    margin-left: 50px; */
    /* grid-row: span 2;
    /* grid-column: 1;
    grid-row: 1; */
}
.pizza-text{
    grid-area: text;
/* grid-column: 2;
grid-row: 1; */
display: flex;
justify-content: center;
flex-wrap: wrap;
font-family: "Roboto Condensed", sans-serif;
text-align: center;
margin: 30px;
/* width: 50%; */
    
}
table td{
    border: 1px #ffffff solid;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Crimson+Pro" serif;

}
table{
    border-collapse: collapse;
}

.table-price{
    /* grid-column: 1;
    grid-row: 2; */
    display: flex;
    justify-content: center;
    border: 5pt #ffffff84 dotted;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    width: 300px;
    height: 100px;

    
    
    grid-area: price;
}
.table-toppings{
    grid-area: table;
    /* grid-column: 2;
    grid-row: 2; */
    border: 5pt  #ffffff84 double;
    border-radius: 5px;
    /* padding-right: 10px; */
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    margin-right: 50px;
    empty-cells: hide;
    overflow: visible;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    


}
#pizza{
    display: grid;
    /* margin: 50px;
    row-gap: 50px; */
    /* width:60%; */
    /* grid-template-columns: 25%, 50%;
    grid-template-rows: 25% 50% */

    grid-template-areas: 
        'header header header header header header'
        'pizza pizza pizza pizza pizza pizza'
        'text space space table table table '
        'price price space space table table '
        'footer footer footer footer';

}

/* universal footer css */

#footer {
    margin-top: 50px;
    background-color: #ff6900;
    height: 100px;
    display: grid;
    /* justify-content: space-between; */
    grid-template-areas:
        'socials logo contactus';
}

.footer-container {

    /* display: grid; */
    grid-template-rows: auto;
    /* width: 25%; */

}

.footer-logo {
    display: flex;
    justify-content: center;
    height: 80px;
    grid-area: logo;
}

#socials-left image {
    max-height: 20px;
    grid-area: socials;
    padding-right: px;
}

#socials-left :hover {
    cursor: pointer;
}

#contactus {
    list-style-type: none;
    background-color: none;
    /* align-self: flex-end; */
    grid-area: contactus;

}


@media screen and (max-width: 1500px) {
    #gallery {
        width: 1200px;
        grid-template-areas:
            "header"
            "photo"
            "left1 left2"
            "text"
            "footer";
    }
}
*/ @media screen and (max-width: 1200px) {
    #body-center {
        grid-template-areas:
            "header"
            "photo"
            "text"
            "footer";
    }

    @media screen and (max-width: 900px) {
        #body-center {
            grid-template-areas:
                "header"
                "photo"
                "text"
                "footer";
        }