<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="fragments/header.html :: nav"></div>
<a href="/categories">Back</a>
<h1>Edit Category</h1>


<main   class="container mt-4">
    <form method="post" th:object="${category}" >
        <div class="form-floating mb-3">
            <input class ="form-control" type="text" th:field="{categoryName}">
            <label th:for="*{categoryName}"> Category Name</label>
        </div>
        <div class="form-floating mb-3">

            <input class="form-control" type="text" th:field="{description}">
            <label th:for="*{description}"> Description </label>
        </div>
        <input type="submit" value="save" class="btn btn-danger">
    </form>

</main>
</body>
</html>